

.textFieldOverride{
    padding-top: 1rem !important;
    /* color: blue; */
}

.textFieldOverride div{
    border-radius: .5rem;
    
    /* color: blue; */
}

.textFieldOverride .MuiFilledInput-underline:before{
    border-bottom:1px solid rgba(0, 0, 0, 0) !important
}

.textFieldOverride .MuiFilledInput-underline:after{
    border-bottom:1px solid rgba(0, 0, 0, 0) !important
}

.textFieldOverride input{
    padding: 1rem 1rem .7rem 2rem;

    /* color: blue; */
}
.textFieldOverrideCost{
    background-color: rgba(255, 255, 255);
    /* color: blue; */
}

.textFieldOverrideCost:hover div{
    background-color: rgba(255, 255, 255);
    /* color: blue; */
}

.textFieldOverrideCost:before div{
    background-color: rgba(255, 255, 255);
    /* color: blue; */
}
.textFieldOverrideCost:after div{
    background-color: rgba(255, 255, 255);
    /* color: blue; */
}
.textFieldOverrideCost div{
    background-color: rgba(255, 255, 255, 0) !important;
    border-radius: .5rem;
    box-shadow: 0px 1px 11px 4px #dedede;
    /* color: blue; */
}

.textFieldOverrideCost .MuiFilledInput-underline:before{
    border-bottom:1px solid #fff !important
}

.textFieldOverrideCost .MuiFilledInput-underline:after{
    border-bottom:1px solid #fff !important
}

.textFieldOverrideCost input{
    /* padding: 1rem 1rem .7rem 2rem; */

    /* color: blue; */
}
.cardAction{
    position: absolute;
    position: absolute;
    margin-top:25px !important;
    left: 84%;
    font-weight: bold;
}

.rounded {
    width: 100%;
    border-radius: 1rem !important;
}

.rounded .MuiCard-root{
    border-radius: 1rem !important;
}

::-webkit-scrollbar {
    width: 7px;
    height: 0px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  body {
    /* overflow: hidden;  */
    /* overflow-x: hidden; */
    /* Hide scrollbars */
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
  }

  .calendarCustom{

  }

  .calendarCustom .DayPicker-Month{
    display: block !important;
    box-shadow: 6px 8px 17px 4px #d0cbcb !important;
    border-radius: 1rem !important;
    padding: 2rem;
  }

  /* .calendarCustom .DayPicker-{
    display: block !important;
    box-shadow: 6px 8px 17px 4px #d0cbcb !important;
    border-radius: 1rem !important;
  } */

  .calendarCustom  .DayPicker-wrapper{
    outline: -webkit-focus-ring-color auto 0px;

  }

  .calendarCustom .DayPicker-Caption{
      color: #ff931e;
      font-weight: bolder;
      margin-left: 1rem;
  }
  .calendarCustom  .DayPicker-Weekday{
    color: #ff931e !important;
    font-weight: bolder;
    /* margin-left: 1rem; */
}


.calendarCustom  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside){
    position: relative;
    background-color: #ff931e;
    color: #fff;
    outline: -webkit-focus-ring-color auto 0px ;
}

.calendarCustom .DayPicker-NavButton--next{
    /* background-color: #ff931e; */
    outline: -webkit-focus-ring-color auto 0px ;
    top: calc(50% - 4rem) !important;
    left: 98%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAA3CAYAAAAfZiphAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAIgSURBVFhH7ZjXjgIxDEX3/7+NDqI3iSK66B28uiNHml2mOIlB+7BH4oH7cjRxEnvmiz7M3xDudju63W78T5cX4ePxoGKxSN1ulxNdIp9wvV5TJpOh1WrFiR6xNez3+1QoFOh6vXKiQ6zwfr9TqVSiVqvFiQ6xQrDdboOlnc/nnPiTKASDwYByuRydz2dO/EgVYtdWKhVqNBr0fD45dSdVCA6HA2WzWZpMJpy4IxKC0WgUSE+nEyduiIVYzmq1Gvx8llYsBHg6POV4PObEHishQB0hRV1dsBZiOev1erBzsYNtsRYCnEmcTZxRW5yEALcPbiHcRjY4CwHuWdy3uHeleAnRSdBR0FmkeAkBeiaWFj1UgrcQYDrAlCAZS1SEEEHY6XQ4iUdFCMxYslwuOYlGTQiwefL5fOJYoirE8SiXy4ljiaoQYKZNGkvUhQD3LM5nVBtTF5rNs1gsOPmJqvByuQSbptfrcfKKmhDLV6vVUtuWmnA4HAYt63g8chKNitDUTTIwewtRN+xI6duWlzA8bkh7opcQdcNAlVa3MM7CzWYT1G02m3Eiw0loOr2kHf3GWoi64cUGl7TNLGOwFpp3jI8Mwq51CyMW+tQtjEjoW7cwIiHelnzqFiZVaD4sTKdTTvxIFKJuGP/a7TYn/sQKUbdms2n97pBGrNDUbb/fc6JDpNDUTeOrxW9ehFjKd3zyMkQ+IZbxY99L382/UBmib5QpykaibuwnAAAAAElFTkSuQmCC')
}
.calendarCustom .DayPicker-NavButton--prev{
    /* background-color: #ff931e; */
    outline: -webkit-focus-ring-color auto 0px ;
    top: calc(50% - 4rem) !important;
    left: -11%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAA+CAYAAADatWDQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAIgSURBVFhH7ZjXisMwEEX3/78tvRdSSCO996blijHI2LJVZvfJBwLZeTk415oZ7Y/4RzIZC5nMmPv9Lq7XK/0VhlX2+XxEo9EQzWaTKmFYZaPRSBQKBXG73agShk223W5FLpcTm82GKlFYZMipWCyK4XBIlXi8Zd/vV+ZUr9dlZkl4y9JyUvGS7XY7mdN6vaZKMs6yx+MhcxoMBlRJx0mGnHCWarVaak4qTrLxeCxz0nUKHday/X4vc1qtVlQxx0oW5NTv96lih7EMObVaLZnT+/2mqh3GsslkIvL5vHVOKkYyn5xUUmXIqVQqOeekkigLcqpWq845qSTKgpwulwtV/NDKDoeDzGm5XFLFn1jZ8/mUOfV6ParwEJEhp3a7zZaTSkQ2nU5Zc1IJyV6vlxR1Oh2q8KJ9MpPJa0tsZtgp8MF3TiIygP6Hp5vNZlThIVYG5vM5+4uilakjxWb0J6GVASyfGP9YAzhIlAGMFbSt4/FIFXdSZaDb7YpKpeLdUYxk6JUmu3waRjIQ3FIwtV0xlgFMgXK5LNuaC1YySCBzHT1WMhAsP0mXPh3WMoAXBS8MXhwbnGQ4AjgKOBI2OMnA6XSy3iWdZSC4zaCtmeAlQ4NGo0bDNpl9XjKAEYRRhJGUhrcMYMhCmHbpYJGZrhIsMoAFCU+HhUkHmwwsFgt5HM7nM1XCsMrwE2Kbxs8ZB6sM4D735/+VMyGTsZDJGBDiF7cR4Cv1GczAAAAAAElFTkSuQmCC')
}

.calendarCustom .DayPicker-NavButton{
    width: 6.25em;
    height: 6.25em;
    
}

.disabledCalendar{
    pointer-events: none;
}

.enableCal{
    pointer-events: all;

}




.calendarCustomCompany{

}

.calendarCustomCompany .DayPicker-Month{
  display: block !important;
  box-shadow: 6px 8px 17px 4px #d0cbcb !important;
  border-radius: 1rem !important;
  padding: 2rem;
}

/* .calendarCustomCompany .DayPicker-{
  display: block !important;
  box-shadow: 6px 8px 17px 4px #d0cbcb !important;
  border-radius: 1rem !important;
} */

.calendarCustomCompany  .DayPicker-wrapper{
  outline: -webkit-focus-ring-color auto 0px;

}

.calendarCustomCompany .DayPicker-Caption{
    color: #000;
    font-weight: bolder;
    margin-left: 1rem;
    text-align: center;
    
}
.calendarCustomCompany .DayPicker-Caption div{
font-weight: bold;
}

.calendarCustomCompany  .DayPicker-Weekday{
  color: #ff931e !important;
  font-weight: bolder;
  /* margin-left: 1rem; */
}


.calendarCustomCompany  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside){
  position: relative;
  background-color: #66b32e;
  border-radius: .7rem;
  color: #000;
  outline: -webkit-focus-ring-color auto 0px ;
}

.calendarCustomCompany .DayPicker-NavButton--next{
  /* background-color: #ff931e; */
  outline: -webkit-focus-ring-color auto 0px ;
  top: calc(50% - 4rem) !important;
  left: 98%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAA3CAYAAAAfZiphAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAIgSURBVFhH7ZjXjgIxDEX3/7+NDqI3iSK66B28uiNHml2mOIlB+7BH4oH7cjRxEnvmiz7M3xDudju63W78T5cX4ePxoGKxSN1ulxNdIp9wvV5TJpOh1WrFiR6xNez3+1QoFOh6vXKiQ6zwfr9TqVSiVqvFiQ6xQrDdboOlnc/nnPiTKASDwYByuRydz2dO/EgVYtdWKhVqNBr0fD45dSdVCA6HA2WzWZpMJpy4IxKC0WgUSE+nEyduiIVYzmq1Gvx8llYsBHg6POV4PObEHishQB0hRV1dsBZiOev1erBzsYNtsRYCnEmcTZxRW5yEALcPbiHcRjY4CwHuWdy3uHeleAnRSdBR0FmkeAkBeiaWFj1UgrcQYDrAlCAZS1SEEEHY6XQ4iUdFCMxYslwuOYlGTQiwefL5fOJYoirE8SiXy4ljiaoQYKZNGkvUhQD3LM5nVBtTF5rNs1gsOPmJqvByuQSbptfrcfKKmhDLV6vVUtuWmnA4HAYt63g8chKNitDUTTIwewtRN+xI6duWlzA8bkh7opcQdcNAlVa3MM7CzWYT1G02m3Eiw0loOr2kHf3GWoi64cUGl7TNLGOwFpp3jI8Mwq51CyMW+tQtjEjoW7cwIiHelnzqFiZVaD4sTKdTTvxIFKJuGP/a7TYn/sQKUbdms2n97pBGrNDUbb/fc6JDpNDUTeOrxW9ehFjKd3zyMkQ+IZbxY99L382/UBmib5QpykaibuwnAAAAAElFTkSuQmCC')
}
.calendarCustomCompany .DayPicker-NavButton--prev{
  /* background-color: #ff931e; */
  outline: -webkit-focus-ring-color auto 0px ;
  top: calc(50% - 4rem) !important;
  left: -26%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAA+CAYAAADatWDQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAIgSURBVFhH7ZjXisMwEEX3/78tvRdSSCO996blijHI2LJVZvfJBwLZeTk415oZ7Y/4RzIZC5nMmPv9Lq7XK/0VhlX2+XxEo9EQzWaTKmFYZaPRSBQKBXG73agShk223W5FLpcTm82GKlFYZMipWCyK4XBIlXi8Zd/vV+ZUr9dlZkl4y9JyUvGS7XY7mdN6vaZKMs6yx+MhcxoMBlRJx0mGnHCWarVaak4qTrLxeCxz0nUKHday/X4vc1qtVlQxx0oW5NTv96lih7EMObVaLZnT+/2mqh3GsslkIvL5vHVOKkYyn5xUUmXIqVQqOeekkigLcqpWq845qSTKgpwulwtV/NDKDoeDzGm5XFLFn1jZ8/mUOfV6ParwEJEhp3a7zZaTSkQ2nU5Zc1IJyV6vlxR1Oh2q8KJ9MpPJa0tsZtgp8MF3TiIygP6Hp5vNZlThIVYG5vM5+4uilakjxWb0J6GVASyfGP9YAzhIlAGMFbSt4/FIFXdSZaDb7YpKpeLdUYxk6JUmu3waRjIQ3FIwtV0xlgFMgXK5LNuaC1YySCBzHT1WMhAsP0mXPh3WMoAXBS8MXhwbnGQ4AjgKOBI2OMnA6XSy3iWdZSC4zaCtmeAlQ4NGo0bDNpl9XjKAEYRRhJGUhrcMYMhCmHbpYJGZrhIsMoAFCU+HhUkHmwwsFgt5HM7nM1XCsMrwE2Kbxs8ZB6sM4D735/+VMyGTsZDJGBDiF7cR4Cv1GczAAAAAAElFTkSuQmCC')
}

.calendarCustomCompany .DayPicker-NavButton{
  width: 6.25em;
  height: 6.25em;
  
}

.gridButtons{
    /* color: chartreuse; */
}
.btnBack{
    margin: 10px !important;
    background-color: #fff !important;
    border-radius: 1rem !important;
    border: 1px solid !important;
    border-color: #696969 !important;
}
.btnNext{
    margin: 10px !important;
    background-color: #fc5000 !important;
    border-radius: 1rem !important;
    border: 1px solid !important;
    border-color: #fc5000 !important;
    color: #fff !important;

}
